
Buttons/Transparent/HWMonitor Left.png
Buttons/Transparent/HWMonitor Right.png
Buttons/Transparent/Toggl Left.png
Buttons/Transparent/Toggl Right.png
Dreamweaver/Dreamweaver Left.ini
Dreamweaver/Dreamweaver Right.ini
HWMonitor/Tranparent/HWMonitor Left.ini
HWMonitor/Tranparent/HWMonitor Right.ini
Messenger/Messenger Left.ini
Messenger/Messenger Right.ini
Netflix/Netflix Left.ini
Netflix/Netflix Right.ini
Telegram/Transparent/Telegram Left.ini
Telegram/Transparent/Telegram Right.ini
TogglDesktop/Transparent/Toggl Left.ini
TogglDesktop/Transparent/Toggl Right.ini
